.estilosNav {

    display: flex;
    
    justify-content: flex-start;
   
    text-decoration: none;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
   margin-top: 1rem; 
    
}

.estilosMenu {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
  margin-left: 2rem;
  
  
}


.botonesNav {
  border-style: none;
  background: white;
  color: cornflowerblue;
  gap: 1rem;
  font-size: 1em;
  cursor: pointer;
  margin: 0 1rem 0 1rem;
}

 .logo {

  width: 170px;
  
  }



.estilosCardWidget {

 

  margin-left: 1100px; 
  margin-top: 2rem;
  

}

.carrito {

  width: 40px;
  height: 40px;
  
}

