.estilosNav {

    display: flex;
    
    justify-content: flex-start;
   
    text-decoration: none;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
   margin-top: 1rem; 
    
}

.estilosMenu {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
  margin-left: 2rem;
  
  
}

/*a { text-decoration: none;
    list-style: none;
    color: cornflowerblue;

} */

.botonesNav {
  border-style: none;
  background: white;
  color: cornflowerblue;
  gap: 1rem;
  font-size: 1em;
  cursor: pointer;
  margin: 0 1rem 0 1rem;
}

 .logo {

  width: 100px;
  
  }



.estilosCardWidget {

 

  margin-left: 1400px; 
  margin-top: 2rem;
}

.carrito {

  width: 30px;
  height: 30px;
  


}

